#container {
    display: flex;
    background-color: darkcyan;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    
}

#container>div {
    background-color: #c9c9c9;
    width: 30px;
    height: 30px;
    margin: 0px;
  }